@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

*{
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: white;
}
.navbar-contactus{
    background-color: #D57276;
    height: 150px;
    width: 100%;
    position: sticky;
    top: 0;

}
.contactus-container{
    text-align:center ;
    height: 250px;
    width: 100%;
    background-color: #D57276;
}
.contactus-container h1{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2rem;
    padding-left: 12px;
    opacity: 0.5;
}
ul li {
    list-style: none;
    display: inline;
    margin-left: 60px;
    font-size: 20px;
    font-family: 'Zen Kurenaido', sans-serif;
    position: relative;
    left: 70px;

}
a{
    text-decoration:none ;
    list-style: none;

}
#logo{
    position: relative;
    left: 20px;
    top: 24px;
}
#free_trial{
  float: right;
  width: 140px;
  height: 40px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-style: none;
  cursor: pointer;
}
#log_in{
    float: right;
  width: 140px;
  height: 40px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-style: none;
  cursor: pointer;
}
button{
    margin-top: 0px;
    

}
