@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

*{
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
}

body {
    height: 2000px;
    overflow-x: hidden;
    background-color: white;
}

.navbar-contactus {  
    width: 100%;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #D57276;
  
}


.contactus-container {

    text-align: center;
    height: 266px;
    width: 100%;   
    background-color: #D57276;
    

}

.contactus-container h1  {

    font-size: 60px;
    color: #fff;
    padding-bottom: 30px;
    font-family: 'Zen Kurenaido', sans-serif;
    
    
}

.contactus-container p {

    font-family: var(--universal-font) ;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    padding-left: 10px;

}
ul, li {
   
    display: inline;
   
    color: #fff;
    opacity: 0.9;
    margin-left: 50px;
    list-style: none;
    font-size: 15px;
    position: relative;
    left: 80px; 
    font-family: 'Zen Kurenaido', sans-serif;
}

a {

    text-decoration: none;
    color: inherit;
}

a:hover {
  
    color: rgb(36, 141, 160);

}

#logo {

   position: relative;
   left: 20px;
   top:  23px;


   
}
#free_trial{
   
    float: right;
    width: 180px;
    height: 47px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-style: none;
    cursor: pointer;
    font-family: 'Zen Kurenaido', sans-serif;

    background-color: #8aa7b6;
    color: #fff;
    position: relative;
    right: 200px;
    bottom: 15px;
}

#free_trial:hover {

    background-color:  rgb(167, 193, 201);
}

#log_in {

    float: right;
    position: relative;
    left: 100px;
    width: 100px;
    height: 47px;
    bottom: 16px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-style: none;
    background-color: #D57276;
    color: rgb(255, 255, 255);
    font-family: 'Zen Kurenaido', sans-serif;
    border-color: #fff;
    border-style: solid;
    cursor: pointer;



}
    

#log_in:hover{

    background-color: #000;

}
.form-container {
    margin-top: 140px;
    margin-left: 40px;
    width: 50%;
}
input {
    display: block;
    margin-top: 30px;
    width: 400px;
    height: 40px;
    
}
textarea{
    
    width: 400px;
    resize: none;
    margin-top: 30px;
    height: 100px;
}
h2{
    font-family: 'Zen Kurenaido', sans-serif;
    color: rgb(61, 158, 196);
}
#p2{
    margin: 10px;
}
#submit{
   
    margin: 0;
  position: relative;
  top: 30%;
  left: 46%;
  width: 100px;
  font-size: 20px;
  padding: 10px;
   border-radius: 5px;
   border-color: #D57276;
   background-color: #D57276;
   text-align: center;
   color: #fff;
  
}
label{

    position: absolute;
    
}
#section2{
    
    color: rgb(0, 0, 0);
    float: right;
    padding-top: 0px;
    width: 50%;
    background: rgb(255, 255, 255);
    bottom: 550px;
    position: relative;
    left: 50PX;
    

}













 
   