@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
}



header {
    display: inline-block;
    width: 100%;
    position: fixed;
    background-color: #D57276;
}
nav {
    display: inline-block;
    margin-top: 12px;
}
nav ul li {
    display: inline;
    padding: 5px 15px;
    color: white;
}

nav ul {
    float: left;
    margin:0;
    margin-top: 20px;
}

header div button {
    display: inline;
}

header div {
    float: right;
    margin: 20px 40px 20px 10px;
}
.logo {
    float: left;
    margin: 0px 40px 20px 35px;
    padding: 5px;
}

.logo:hover {
    cursor: pointer;
}

.nav-link {
    padding: 8px 15px;
}
.nav-link:hover{
    color: black;
    background-color: white;
}

button {
    border-style: none;
}
.btn-trial {
    margin-right: 10px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    background-color: #D57276;
    font-weight: 700;
}

.btn-trial:hover {
    background-color: #7790a5;
    cursor: pointer;
}

.btn-login{
    margin-right: 10px;
    border: 2px solid white;
    padding: 13px 30px;
    border-radius: 5px;
    color: white;
    background: none;
    font-weight: 700;
}

.btn-login:hover{
    background-color: #c59799;
    cursor: pointer;
}

main {
    background-color: white;
}


.contact {
    background-color: #D57276;
    padding-top: 100px;
    padding-bottom: 72px;
    text-align: center;
}

.contact h1 {
    color: white;
    font-size: 48px;
    padding: 25px;
}

.form {
    width: 50%;
    padding: 32px 20px 20px 40px;
    background-color: white;
    display: inline-block;
}

.team {
    background-color: white;
    width: 50%;
    float: right;
    padding: 32px 20px 20px 40px;
}
.form h2, .social-media h2 {
    color: rgb(61, 158, 196);
    margin: 16px;
    font-weight: 600;
    font-size: 28px;
}

.form p, .social-media p {
    font-weight: lighter;
    margin: 16px;
    font-size: 18px;
}


form input {
    display: block;
    padding: 8px;
    width: 100%;
    margin: 16px 16px;
    border: 1.5px solid #e8ebec;
    border-radius: 5px;
    
}

input::placeholder {
    font-style: italic;
}

textarea {
    resize: none;
    display: block;
    padding: 8px;
    width: 100%;
    margin: 16px 16px;
    border: 1.5px solid #e8ebec;
    border-radius: 5px;
}

textarea::placeholder {
    font-style: italic;
    font-weight: 300;
}


.form-submit {
    color: white;
    width: auto;
    float: right;
    margin-bottom: 20px;
    background-color: #D57276;
    border-style: none;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.form-submit:hover {
    cursor: pointer;
    background-color: rgb(61, 158, 196);
}

.social-media {
    background-color: white;
    width: 50%;
    float: right;
    padding: 32px 20px 20px 16px;
}

#social-media-subtitle {
    color: black;
    font-size: 22px;
    margin-top: 32px;
}

.social-media-list {
    padding: 32px 20px 20px 40px;

}
.clear-flaot {
    clear: both;
}

.social-media-list p{
    margin-left: 100px;
    margin-top: 0px;
}

.main-icon {
    font-size: 68px;
    color: rgb(61, 158, 196);
    float: left;
}

.social-media span {
    color: rgb(61, 158, 196);
}

.social-media span:hover {
    color: #a4b4bd;
    cursor: pointer;
}

footer {
    background-color: rgb(37, 35, 35);
    overflow: auto;
    color: white;
    font-weight: 300;
}

footer h3 {
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin-bottom: 8px;
}

.footer-div {
    float: left;
}

.clear-float {
    clear: both;
}


.footer-about, .footer-help, .footer-resoures, .footer-landing, .footer-commercial {
    padding: 22px;
    margin-left: 16px;
}
.footer-about {
    margin-left: 52px;
}
footer ul {
    color: #dfe6eb;
    margin-top: 8px;
}

.footer-trial {
    width: 15%;
    padding: 22px 0px 22px 22px;
    margin-left: 16px;

}

footer i {
    color:rgb(61, 158, 196) ;
}

.footer-btn {
    background-color: #D57276;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 8px;
}

.footer-btn:hover {
    cursor: pointer;
    background-color: #ddb0b1;
}

.copyrights {
    padding: 8px 16px 18px 64px;
    background-color:#121213 ;
    width: 100%;
    font-size: 12px;
    color: #828e98;
    font-weight: lighter;
}

.copyrights span {
    color: #43b0f1;
}