*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
body{
    background-image: url("background-with-sky-clouds-shape_24972-1095.jpg");
    background-position: center;
   background-size: cover;
    font-family: sans-serif;
}
.menu-bar{
    background:rgb(202, 118, 35);
    text-align:center ;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #ffffff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;

}
.menu-bar ul li a{
    text-decoration: none;
    color: #ffffff;
}
.active , .menu-bar ul li :hover{

    background: #bbab7f;
    border-radius: 3px;
}
#free{
    border: 1px solid black;
    background-color: black;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;     
}
#log-in{
    border: 1px solid hsl(0, 0%, 100%);
    padding: 20px 10px 20px 10px;

}
.menu-bar{
    position: sticky;
    top: 0px;
}






float: right;
  width: 180px;
  height: 47px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-style: none;
  cursor: pointer;
  background-color: #D57276;
  color: #fff;
  font-family: 'Zen Kurenaido', sans-serif;
  position: relative;
  right: 200px;
  bottom: 15px;   